/.DS_Store
build
build/.ninja_deps
build/.ninja_log
build/CMakeCache.txt
build/.cmake/api/v1/reply/cache-v2-057a8995e55ce19c7867.json
build/.cmake/api/v1/reply/cache-v2-c9091f7440388631e924.json
build/.cmake/api/v1/reply/cmakeFiles-v1-a83d8621a3462e0a7298.json
build/.cmake/api/v1/reply/cmakeFiles-v1-e9da482edec95b021858.json
build/.cmake/api/v1/reply/index-2024-12-12T04-53-44-0140.json
build/.cmake/api/v1/reply/index-2024-12-12T05-33-11-0562.json
build/CMakeFiles/CMakeConfigureLog.yaml
build/CMakeFiles/common.ninja
build/CMakeFiles/impl-Debug.ninja
build/CMakeFiles/impl-Release.ninja
build/CMakeFiles/impl-RelWithDebInfo.ninja
build/CMakeFiles/3.29.5/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/untitled1_autogen.dir/AutogenInfo.json
build/CMakeFiles/untitled1_autogen.dir/ParseCache_Debug.txt
build/Debug/untitled1.app/Contents/MacOS/untitled1
build/untitled1_autogen/deps_Debug
cmake-build-debug/CMakeCache.txt
cmake-build-debug/.cmake/api/v1/query/cache-v2
cmake-build-debug/.cmake/api/v1/query/cmakeFiles-v1
cmake-build-debug/.cmake/api/v1/query/codemodel-v2
cmake-build-debug/.cmake/api/v1/query/toolchains-v1
cmake-build-debug/CMakeFiles/clion-Debug-log.txt
cmake-build-debug/CMakeFiles/clion-environment.txt
cmake-build-debug/CMakeFiles/cmake.check_cache
cmake-build-debug/CMakeFiles/CMakeConfigureLog.yaml
cmake-build-debug/CMakeFiles/3.29.6/CMakeCXXCompiler.cmake
cmake-build-debug/CMakeFiles/3.29.6/CMakeDetermineCompilerABI_CXX.bin
cmake-build-debug/CMakeFiles/3.29.6/CMakeSystem.cmake
cmake-build-debug/CMakeFiles/3.29.6/CompilerIdCXX/CMakeCXXCompilerId.cpp
cmake-build-debug/CMakeFiles/3.29.6/CompilerIdCXX/CMakeCXXCompilerId.o
